# api related
.venv/
api/data/*
.DS_Store
api/__pycache__
api/search/__pycache__

# Logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

app/node_modules
app/dist
app/dist-ssr
app/*.local

# Editor directories and files
app/.vscode/*
app/!.vscode/extensions.json
app/.idea
app/.DS_Store
app/*.suo
app/*.ntvs*
app/*.njsproj
app/*.sln
app/*.sw?
