:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  background-color: #000;
  color: #fff;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

button:focus {
  outline: 1px solid #000;
}

* {
  box-sizing: border-box;
}
